<div id="<%= dom_id passenger_booking %>">
  <p>
    <strong>Booking:</strong>
    <%= passenger_booking.booking_id %>
  </p>

  <p>
    <strong>Passenger:</strong>
    <%= passenger_booking.passenger_id %>
  </p>

</div>
